<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Daftar Modul</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Daftar Modul</h1>
    <% if (modules.length === 0) { %>
      <p>Belum ada modul tersedia.</p>
    <% } else { %>
      <ul>
        <% modules.forEach(modul => { %>
          <li>
            <h3><%= modul.title %></h3>
            <p><%= modul.description %></p>
            <% if (modul.image_video_url) { %>
              <img src="<%= modul.image_video_url %>" alt="Gambar Modul" style="max-width:200px;">
            <% } %>
          </li>
        <% }) %>
      </ul>
    <% } %>
  </div>
</body>
</html>
